<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.TeachplanMapper">
    <resultMap id="teachplanMap" type="com.xuecheng.framework.domain.course.ext.TeachplanNode">
        <!--一级节点-->
        <id property="id" column="one_id"/>
        <result property="pname" column="one_pname"/>
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
            <!--二级节点-->
            <id property="id" column="two_id"/>
            <result property="pname" column="two_pname"/>
            <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
                <!--三级节点-->
                <id property="id" column="three_id"/>
                <result property="pname" column="three_pname"/>
                <result property="media_id" column="media_id"/>
                <result property="media_fileoriginalname" column="media_fileoriginalname"/>
            </collection>
        </collection>
    </resultMap>

    <!--三级菜单查询-->
    <select id="selectList" resultMap="teachplanMap" parameterType="java.lang.String">
        SELECT
            a.id one_id,
            a.pname one_pname,
            a.courseid one_course,
            b.id two_id,
            b.pname two_pname,
            c.id three_id,
            c.pname three_pname,
            media.media_id media_id,
            media.media_fileoriginalname media_fileoriginalname
        FROM
            teachplan a
        LEFT JOIN teachplan b
            ON b.parentid = a.id
        LEFT JOIN teachplan c
            ON c.parentid = b.id
        LEFT JOIN teachplan_media media
            ON c.id = media.teachplan_id
        WHERE
            a.parentid = '0'
        <!--判断参数不为空时才进行参数的匹配-->
        <if test="_parameter!=null and _parameter!=''">
            and a.courseid = #{courseId}
        </if>
        ORDER BY a.orderby,
            b.orderby,
            c.orderby
    </select>

    <select id="selectPlan" parameterType="java.lang.String" resultType="com.xuecheng.framework.domain.course.Teachplan">
        SELECT
        id,
        pname,
        parentid,
        grade,
        ptype,
        description,
        courseid,
        status,
        orderby,
        timelength,
        trylearn
        FROM teachplan
        WHERE id = #{planid}
    </select>

    <delete id="deletePlan" parameterType="java.lang.String">
        DELETE FROM teachplan
        where id = #{id}
        OR parentid = #{id}
    </delete>
</mapper>